{
  "overrides": [
    { "files": ["server/**/*.ts"], "options": { "printWidth": 100 } },
    {
      "files": ["**/*.vue"],
      "options": { "htmlWhitespaceSensitivity": "ignore", "parser": "vue" }
    }
  ]
}
